﻿<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@ViewData["Title"] - YfmpP</title>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		@if ((string)@ViewData["Title"] == "Home page" || (string)@ViewData["Title"] == "Register page" || (string)@ViewData["Title"] == "Upload page" ) {
			<link rel="stylesheet" href="~/css/styling.css" />
		} else {
			<link rel="stylesheet" href="~/css/site.css" />
		}

	</head>
	<body>
		<div class="container h-100">

			@RenderBody()

		</div>

		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>

		@RenderSection("Scripts", required: false)
	</body>
</html>
