* {
    box-sizing: border-box;
}

#loginPage {
    background: url("/imgsrc/Visualizer.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#logo {
    width: 100px;
    height: 100px;
}

#paragraph1 {
    color: white;
    text-align: right;
    opacity: 0.5;
}

.text-input {
    background: none !important;
    padding: 5px;
    color: white;
    border: none;
    box-shadow: none !important;
    border-bottom: 2px solid #888  ;
    transition: .3s;
}

.text-input:focus {
    outline: none !important;
    border: none;
    border-bottom: 2px solid white;
}

.login-form {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    text-decoration: none;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #fff;
    text-decoration: none;
}

.btn-hover:focus {
    outline: none;
    text-decoration: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-hover.color-2 {
    background-image: linear-gradient(to right, #2bb673, #30dd8a, #40e495, #25aae1);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}