﻿@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<body id="loginPage" class="h-100">
	<div class="background-img container-fluid h-100">
		<div class="row h-100 align-items-center">
			<div class="col-4 d-none d-md-block"></div>
			<form method="post" class="col-12 col-md-4 login-form">

				<div class="logo m-auto" id="logo">
					<a href="google.com"><img src="/imgsrc/sound-frecuency.svg"></a>
				</div>

				<div>@Model.Error</div>

				<input asp-for="Username" type="text" class="text-input form-control" placeholder="Enter Username" required>
				<br>
				<input asp-for="Password" type="password" class="text-input form-control" placeholder="Enter Password" required>
				<br>
				<label class="d-block">
					<input type="checkbox" class="d-inline checkbox" checked="checked" name="remember"> Remember me
				</label>
				<input type="submit" value="Login" class="d-block m-auto btn-hover color-1 submit" asp-area="">
				<br>
				<a class="d-block m-auto btn-hover color-1" asp-area="" asp-page="/Register">Register</a>
				<br>
			</form>
			<div class="col-4 d-none d-md-block">
			</div>
		</div>
	</div>
</body>
</html>
