@page
@model RegisterModel
@{
    ViewData["Title"] = "Register page";
}
   

<body id="loginPage" class="h-100">
    <div class="background-img container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-4 d-none d-md-block"></div>
            <form method="post" class="col-12 col-md-4 login-form">
                
                <div class="logo m-auto" id="logo">
                    <a href="google.com"><img src="/imgsrc/sound-frecuency.svg"></a>
                </div>
            <input asp-for="Username" type="text" class="text-input form-control" placeholder="Enter Username" required>
                <br>
            <input asp-for="Password" type="password" class="text-input form-control" placeholder="Enter Password" required>
                <br>
            <input asp-for="PasswordConf" type="password" class="text-input form-control" placeholder="Confirm Password" required>
                <br>
                <input type="submit" value="Register" class="d-block m-auto btn-hover color-1 submit">
                <br>
                <div>@Model.Error</div>
                <br>
                <a class="d-block m-auto btn-hover color-1" asp-area="" asp-page="/Index">Go back</a>
            </form>
                <div class="col-4 d-none d-md-block">
            </div>
        </div>
    </div>
</body>
</html>