@page
@model UploadModel
@{
    ViewData["Title"] = "Upload page";
}


<body id="loginPage" class="h-100">
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContextButton" aria-controls="#navbarContextButton" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a id="uploadLogo" class="logo" alt="logo" href="UploadUI.html">
        <img src="/imgsrc/sound-frecuency.svg">
      </a>

      <div class="navbar-collapse collapse" id="navbarContextButton" style="">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Some Link</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container h-100 login-form">
    <div class="row">
      <div class="col-12">
        <h1 id="uploadHeader">Upload</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6">
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
        </ul>
      </div>
    </div>

    <br>

    <div class="row justify-content-center">
      <div class="col-6">
        <button id="saveButton" type="button" class="btn btn-dark">Save</button>
        <button id="cancelButton" type="button" class="btn btn-dark">Cancel</button>
      </div>
    </div>
  </main>

  <footer class="container">
    <div class="row">
      <div class="col-12">&copy;Copy 2019</div>
    </div>
  </footer>
</body>

</html>